<article class="card" @fade>
  <div class="card__bookmark">
    #1
  </div>
  <div class="card__header">
    <h1 class="card__header-title">{{card.user}}</h1>
  </div>
  <div class="card__body">

    <div class="card__item card__item-active">
      <i class="fas fa-clock"></i>
      <p class="card__description">{{card.todoSatus.active}} activas</p>
    </div>
    <div class="card__item card__item-complete">
      <i class="fas fa-check-double"></i>
      <p class="card__description">{{card.todoSatus.completed}} completas</p>
    </div>
    <div class="card__item card__item-total">
      <i class="fas fa-tasks"></i>
      <p class="card__description">{{card.todoSatus.total}} total</p>
    </div>
  </div>
  <button routerLink="todo-list" class="card__button">Añadir tareas</button>
</article>