.card {
    position: relative;
    background-color: var(--container-color);
    padding: 2.5rem 1.4rem 1.4em;
    border-radius: 1.75rem;
    box-shadow: 0 12px 24px hsla(210, 61%, 16%, 0.1);
    transition: 0.4s;

    &__bookmark {
        position: absolute;
        background: linear-gradient(157deg, hsl(210, 96%, 69%) -12%, hsl(210, 96%, 54%) 109%);
        width: 58px;
        height: 60px;
        right: 1.5rem;
        top: -1rem;
        padding-top: 1rem;
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
        text-align: center;

        &::after,
        &::before {
            content: "";
            position: absolute;
        }

        &::after {
            width: 100%;
            height: 14px;
            background-color: hsl(210, 100, 100);
            left: 0;
            bottom: 0;
            clip-path: polygon(0 100%, 50% 0, 100% 100%);
        }

        &::before {
            width: 14px;
            height: 16px;
            background-color: hsl(210, 96%, 39%);
            top: 0;
            left: -14px;
            clip-path: polygon(0 100%, 100% 0, 100% 100%);
        }
    }

    &__header {
        margin-bottom: 0.7rem;
        font-size: 1rem !important;
    }

    &__item {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 0.5rem;

        > i {
            margin-right: 0.4rem;

            &.fa-tasks {
                color: hsl(210, 96%, 54%);
            }
            &.fa-clock {
                color: hsl(42, 91%, 53%);
            }
            &.fa-check-double {
                color: rgb(34, 172, 0);
            }
        }
    }

    &__button {
        width: 100%;
        padding: 0.7rem 0.8rem;
        border: none;
        border-radius: 0.5rem;
        background: linear-gradient(157deg, hsl(210, 96%, 69%) -12%, hsl(210, 96%, 54%) 109%);
        font-size: 1rem;
        font-weight: lighter;
        color: white;
        cursor: pointer;
    }
}
